=simple_form_for([@champion, @champion.reviews.build]) do |f| # i used this solution "i used this solution "" becouse in routes.rb i used nested routes " becouse in routes.rb i used nested routes
  =f.input :rating
  =f.input :comment
  =f.button :submit, class: "btn btn-md btn-success"