%h1.current-category{style: "text-align: center;"}
  =params[:lane]
- if @champions.count <= 0
  %h1
    There are no champions added yet
- else
  .row
    .col-md-10
      - @champions.each do |champion|
        %a{:href => "/champions/#{champion.id}"}
          = image_tag champion.champion_img.url(:champion_index), style: "margin-bottom: 1px;"  #this set

